trunk/ChopStickXacml/xml-resources/axis2/META-INF/PdpService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="XacmlEngineDefinition" targetNamespace="http://gryb.info/schemas/xacml/wsdl" xmlns:w="http://gryb.info/schemas/xacml/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:c="http://gryb.info/schemas/xacml/common" xmlns:pdp="urn:oasis:names:tc:xacml:2.0:context:schema:os" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:pap="urn:oasis:names:tc:xacml:2.0:policy:schema:os">
  <types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:xacml:2.0:policy:schema:os" xmlns:xacml="urn:oasis:names:tc:xacml:2.0:policy:schema:os" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- -->
   <xs:element name="PolicySet" type="xacml:PolicySetType"/>
   <xs:complexType name="PolicySetType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml:Description"/>
         <xs:element minOccurs="0" ref="xacml:PolicySetDefaults"/>
         <xs:element ref="xacml:Target"/>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="xacml:PolicySet"/>
            <xs:element ref="xacml:Policy"/>
            <xs:element ref="xacml:PolicySetIdReference"/>
            <xs:element ref="xacml:PolicyIdReference"/>
            <xs:element ref="xacml:CombinerParameters"/>
            <xs:element ref="xacml:PolicyCombinerParameters"/>
            <xs:element ref="xacml:PolicySetCombinerParameters"/>
         </xs:choice>
         <xs:element minOccurs="0" ref="xacml:Obligations"/>
      </xs:sequence>
      <xs:attribute name="PolicySetId" type="xs:anyURI" use="required"/>
      <xs:attribute default="1.0" name="Version" type="xacml:VersionType"/>
      <xs:attribute name="PolicyCombiningAlgId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="CombinerParameters" type="xacml:CombinerParametersType"/>
   <xs:complexType name="CombinerParametersType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml:CombinerParameter"/>
      </xs:sequence>
      <xs:attribute name="qwerty"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="CombinerParameter" type="xacml:CombinerParameterType"/>
   <xs:complexType name="CombinerParameterType">
      <xs:sequence>
         <xs:element ref="xacml:AttributeValue"/>
      </xs:sequence>
      <xs:attribute name="ParameterName" type="xs:string" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="RuleCombinerParameters" type="xacml:RuleCombinerParametersType"/>
   <xs:complexType name="RuleCombinerParametersType">
      <xs:complexContent>
         <xs:extension base="xacml:CombinerParametersType">
            <xs:attribute name="RuleIdRef" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="PolicyCombinerParameters" type="xacml:PolicyCombinerParametersType"/>
   <xs:complexType name="PolicyCombinerParametersType">
      <xs:complexContent>
         <xs:extension base="xacml:CombinerParametersType">
            <xs:attribute name="PolicyIdRef" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="PolicySetCombinerParameters" type="xacml:PolicySetCombinerParametersType"/>
   <xs:complexType name="PolicySetCombinerParametersType">
      <xs:complexContent>
         <xs:extension base="xacml:CombinerParametersType">
            <xs:attribute name="PolicySetIdRef" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="PolicySetIdReference" type="xacml:IdReferenceType"/>
   <xs:element name="PolicyIdReference" type="xacml:IdReferenceType"/>
   <!-- -->
   <xs:element name="PolicySetDefaults" type="xacml:DefaultsType"/>
   <xs:element name="PolicyDefaults" type="xacml:DefaultsType"/>
   <xs:complexType name="DefaultsType">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="xacml:XPathVersion"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="XPathVersion" type="xs:anyURI"/>
   <!-- -->
   <xs:complexType name="IdReferenceType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="Version" type="xacml:VersionMatchType" use="optional"/>
            <xs:attribute name="EarliestVersion" type="xacml:VersionMatchType" use="optional"/>
            <xs:attribute name="LatestVersion" type="xacml:VersionMatchType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <!-- -->
   <xs:simpleType name="VersionType">
      <xs:restriction base="xs:string">
         <xs:pattern value="(\d+\.)*\d+"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- -->
   <xs:simpleType name="VersionMatchType">
      <xs:restriction base="xs:string">
         <xs:pattern value="((\d+|\*)\.)*(\d+|\*|\+)"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- -->
   <xs:element name="Policy" type="xacml:PolicyType"/>
   <xs:complexType name="PolicyType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml:Description"/>
         <xs:element minOccurs="0" ref="xacml:PolicyDefaults"/>
         <xs:element minOccurs="0" ref="xacml:CombinerParameters"/>
         <xs:element ref="xacml:Target"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element minOccurs="0" ref="xacml:CombinerParameters"/>
            <xs:element minOccurs="0" ref="xacml:RuleCombinerParameters"/>
            <xs:element ref="xacml:VariableDefinition"/>
            <xs:element ref="xacml:Rule"/>
         </xs:choice>
         <xs:element minOccurs="0" ref="xacml:Obligations"/>
      </xs:sequence>
      <xs:attribute name="PolicyId" type="xs:anyURI" use="required"/>
      <xs:attribute default="1.0" name="Version" type="xacml:VersionType"/>
      <xs:attribute name="RuleCombiningAlgId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="Description" type="xs:string"/>
   <!-- -->
   <xs:element name="Rule" type="xacml:RuleType"/>
   <xs:complexType name="RuleType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml:Description"/>
         <xs:element minOccurs="0" ref="xacml:Target"/>
         <xs:element minOccurs="0" ref="xacml:Condition"/>
      </xs:sequence>
      <xs:attribute name="RuleId" type="xs:string" use="required"/>
      <xs:attribute name="Effect" type="xacml:EffectType" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:simpleType name="EffectType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Permit"/>
         <xs:enumeration value="Deny"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- -->
   <xs:element name="Target" type="xacml:TargetType"/>
   <xs:complexType name="TargetType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml:Subjects"/>
         <xs:element minOccurs="0" ref="xacml:Resources"/>
         <xs:element minOccurs="0" ref="xacml:Actions"/>
         <xs:element minOccurs="0" ref="xacml:Environments"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Subjects" type="xacml:SubjectsType"/>
   <xs:complexType name="SubjectsType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:Subject"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Subject" type="xacml:SubjectType"/>
   <xs:complexType name="SubjectType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:SubjectMatch"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Resources" type="xacml:ResourcesType"/>
   <xs:complexType name="ResourcesType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:Resource"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Resource" type="xacml:ResourceType"/>
   <xs:complexType name="ResourceType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:ResourceMatch"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Actions" type="xacml:ActionsType"/>
   <xs:complexType name="ActionsType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:Action"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Action" type="xacml:ActionType"/>
   <xs:complexType name="ActionType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:ActionMatch"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Environments" type="xacml:EnvironmentsType"/>
   <xs:complexType name="EnvironmentsType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:Environment"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Environment" type="xacml:EnvironmentType"/>
   <xs:complexType name="EnvironmentType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:EnvironmentMatch"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="SubjectMatch" type="xacml:SubjectMatchType"/>
   <xs:complexType name="SubjectMatchType">
      <xs:sequence>
         <xs:element ref="xacml:AttributeValue"/>
         <xs:choice>
            <xs:element ref="xacml:SubjectAttributeDesignator"/>
            <xs:element ref="xacml:AttributeSelector"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="MatchId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="ResourceMatch" type="xacml:ResourceMatchType"/>
   <xs:complexType name="ResourceMatchType">
      <xs:sequence>
         <xs:element ref="xacml:AttributeValue"/>
         <xs:choice>
            <xs:element ref="xacml:ResourceAttributeDesignator"/>
            <xs:element ref="xacml:AttributeSelector"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="MatchId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="ActionMatch" type="xacml:ActionMatchType"/>
   <xs:complexType name="ActionMatchType">
      <xs:sequence>
         <xs:element ref="xacml:AttributeValue"/>
         <xs:choice>
            <xs:element ref="xacml:ActionAttributeDesignator"/>
            <xs:element ref="xacml:AttributeSelector"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="MatchId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="EnvironmentMatch" type="xacml:EnvironmentMatchType"/>
   <xs:complexType name="EnvironmentMatchType">
      <xs:sequence>
         <xs:element ref="xacml:AttributeValue"/>
         <xs:choice>
            <xs:element ref="xacml:EnvironmentAttributeDesignator"/>
            <xs:element ref="xacml:AttributeSelector"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="MatchId" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="VariableDefinition" type="xacml:VariableDefinitionType"/>
   <xs:complexType name="VariableDefinitionType">
      <xs:sequence>
         <xs:element ref="xacml:Expression"/>
      </xs:sequence>
      <xs:attribute name="VariableId" type="xs:string" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element abstract="true" name="Expression" type="xacml:ExpressionType"/>
   <xs:complexType abstract="true" name="ExpressionType"/>
   <!-- -->
   <xs:element name="VariableReference" substitutionGroup="xacml:Expression" type="xacml:VariableReferenceType"/>
   <xs:complexType name="VariableReferenceType">
      <xs:complexContent>
         <xs:extension base="xacml:ExpressionType">
            <xs:attribute name="VariableId" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="AttributeSelector" substitutionGroup="xacml:Expression" type="xacml:AttributeSelectorType"/>
   <xs:complexType name="AttributeSelectorType">
      <xs:complexContent>
         <xs:extension base="xacml:ExpressionType">
            <xs:attribute name="RequestContextPath" type="xs:string" use="required"/>
            <xs:attribute name="DataType" type="xs:anyURI" use="required"/>
            <xs:attribute default="false" name="MustBePresent" type="xs:boolean" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="ResourceAttributeDesignator" substitutionGroup="xacml:Expression" type="xacml:AttributeDesignatorType"/>
   <xs:element name="ActionAttributeDesignator" substitutionGroup="xacml:Expression" type="xacml:AttributeDesignatorType"/>
   <xs:element name="EnvironmentAttributeDesignator" substitutionGroup="xacml:Expression" type="xacml:AttributeDesignatorType"/>
   <!-- -->
   <xs:complexType name="AttributeDesignatorType">
      <xs:complexContent>
         <xs:extension base="xacml:ExpressionType">
            <xs:attribute name="AttributeId" type="xs:anyURI" use="required"/>
            <xs:attribute name="DataType" type="xs:anyURI" use="required"/>
            <xs:attribute name="Issuer" type="xs:string" use="optional"/>
            <xs:attribute default="false" name="MustBePresent" type="xs:boolean" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="SubjectAttributeDesignator" substitutionGroup="xacml:Expression" type="xacml:SubjectAttributeDesignatorType"/>
   <xs:complexType name="SubjectAttributeDesignatorType">
      <xs:complexContent>
         <xs:extension base="xacml:AttributeDesignatorType">
            <xs:attribute default="urn:oasis:names:tc:xacml:1.0:subject-category:access-subject" name="SubjectCategory" type="xs:anyURI" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="AttributeValue" substitutionGroup="xacml:Expression" type="xacml:AttributeValueType"/>
   <xs:complexType mixed="true" name="AttributeValueType">
      <xs:complexContent mixed="true">
         <xs:extension base="xacml:ExpressionType">
            <xs:sequence>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="DataType" type="xs:anyURI" use="required"/>
            <xs:anyAttribute namespace="##any" processContents="lax"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="Function" substitutionGroup="xacml:Expression" type="xacml:FunctionType"/>
   <xs:complexType name="FunctionType">
      <xs:complexContent>
         <xs:extension base="xacml:ExpressionType">
            <xs:attribute name="FunctionId" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="Condition" type="xacml:ConditionType"/>
   <xs:complexType name="ConditionType">
      <xs:sequence>
         <xs:element ref="xacml:Expression"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Apply" substitutionGroup="xacml:Expression" type="xacml:ApplyType"/>
   <xs:complexType name="ApplyType">
      <xs:complexContent>
         <xs:extension base="xacml:ExpressionType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml:Expression"/>
            </xs:sequence>
            <xs:attribute name="FunctionId" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:element name="Obligations" type="xacml:ObligationsType"/>
   <xs:complexType name="ObligationsType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml:Obligation"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Obligation" type="xacml:ObligationType"/>
   <xs:complexType name="ObligationType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml:AttributeAssignment"/>
      </xs:sequence>
      <xs:attribute name="ObligationId" type="xs:anyURI" use="required"/>
      <xs:attribute name="FulfillOn" type="xacml:EffectType" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="AttributeAssignment" type="xacml:AttributeAssignmentType"/>
   <xs:complexType mixed="true" name="AttributeAssignmentType">
      <xs:complexContent mixed="true">
         <xs:extension base="xacml:AttributeValueType">
            <xs:attribute name="AttributeId" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
</xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:xacml:2.0:context:schema:os" xmlns:xacml="urn:oasis:names:tc:xacml:2.0:policy:schema:os" xmlns:xacml-context="urn:oasis:names:tc:xacml:2.0:context:schema:os" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- xs:import namespace="urn:oasis:names:tc:xacml:2.0:policy:schema:os" schemaLocation="http://docs.oasis-open.org/xacml/access_control-xacml-2.0-policy-schema-os.xsd"/-->
   <!--  -->
   <xs:element name="Request" type="xacml-context:RequestType"/>
   <xs:complexType name="RequestType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml-context:Subject"/>
         <xs:element maxOccurs="unbounded" ref="xacml-context:Resource"/>
         <xs:element ref="xacml-context:Action"/>
         <xs:element ref="xacml-context:Environment"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Response" type="xacml-context:ResponseType"/>
   <xs:complexType name="ResponseType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml-context:Result"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Subject" type="xacml-context:SubjectType"/>
   <xs:complexType name="SubjectType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml-context:Attribute"/>
      </xs:sequence>
      <xs:attribute default="urn:oasis:names:tc:xacml:1.0:subject-category:access-subject" name="SubjectCategory" type="xs:anyURI"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="Resource" type="xacml-context:ResourceType"/>
   <xs:complexType name="ResourceType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml-context:ResourceContent"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml-context:Attribute"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="ResourceContent" type="xacml-context:ResourceContentType"/>
   <xs:complexType mixed="true" name="ResourceContentType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="Action" type="xacml-context:ActionType"/>
   <xs:complexType name="ActionType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml-context:Attribute"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Environment" type="xacml-context:EnvironmentType"/>
   <xs:complexType name="EnvironmentType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml-context:Attribute"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="Attribute" type="xacml-context:AttributeType"/>
   <xs:complexType name="AttributeType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="xacml-context:AttributeValue"/>
      </xs:sequence>
      <xs:attribute name="AttributeId" type="xs:anyURI" use="required"/>
      <xs:attribute name="DataType" type="xs:anyURI" use="required"/>
      <xs:attribute name="Issuer" type="xs:string" use="optional"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="AttributeValue" type="xacml-context:AttributeValueType"/>
   <xs:complexType mixed="true" name="AttributeValueType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="Result" type="xacml-context:ResultType"/>
   <xs:complexType name="ResultType">
      <xs:sequence>
         <xs:element ref="xacml-context:Decision"/>
         <xs:element minOccurs="0" ref="xacml-context:Status"/>
         <xs:element minOccurs="0" ref="xacml:Obligations"/>
      </xs:sequence>
      <xs:attribute name="ResourceId" type="xs:string" use="optional"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="Decision" type="xacml-context:DecisionType"/>
   <xs:simpleType name="DecisionType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Permit"/>
         <xs:enumeration value="Deny"/>
         <xs:enumeration value="Indeterminate"/>
         <xs:enumeration value="NotApplicable"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- -->
   <xs:element name="Status" type="xacml-context:StatusType"/>
   <xs:complexType name="StatusType">
      <xs:sequence>
         <xs:element ref="xacml-context:StatusCode"/>
         <xs:element minOccurs="0" ref="xacml-context:StatusMessage"/>
         <xs:element minOccurs="0" ref="xacml-context:StatusDetail"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="StatusCode" type="xacml-context:StatusCodeType"/>
   <xs:complexType name="StatusCodeType">
      <xs:sequence>
         <xs:element minOccurs="0" ref="xacml-context:StatusCode"/>
      </xs:sequence>
      <xs:attribute name="Value" type="xs:anyURI" use="required"/>
   </xs:complexType>
   <!-- -->
   <xs:element name="StatusMessage" type="xs:string"/>
   <!-- -->
   <xs:element name="StatusDetail" type="xacml-context:StatusDetailType"/>
   <xs:complexType name="StatusDetailType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <!-- -->
   <xs:element name="MissingAttributeDetail" type="xacml-context:MissingAttributeDetailType"/>
   <xs:complexType name="MissingAttributeDetailType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="xacml-context:AttributeValue"/>
      </xs:sequence>
      <xs:attribute name="AttributeId" type="xs:anyURI" use="required"/>
      <xs:attribute name="DataType" type="xs:anyURI" use="required"/>
      <xs:attribute name="Issuer" type="xs:string" use="optional"/>
   </xs:complexType>
   <!-- -->
</xs:schema>
  </types>
  <message name="pdp_in">
    <part name="body" element="pdp:Request"/>
  </message>
  <message name="pdp_out">
    <part name="body" element="pdp:Response"/>
  </message>
  <portType name="PdpOperations">
    <operation name="getDecision">
      <input message="w:pdp_in"/>
      <output message="w:pdp_out"/>
    </operation>
  </portType>
  <binding name="PdpBinding" type="w:PdpOperations">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDecision">
      <soap:operation soapAction="http://gryb.info/schemas/xacml/wsdl/getDecision"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PdpService">
    <port name="PdpOperations" binding="w:PdpBinding">
      <soap:address location="http://localhost/PdpService"/>
    </port>
  </service>
</definitions>
