ChopStickXacml/xml-resources/axis2/META-INF/SimplePdpService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://ws/xacmlPdp/techDecision/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws/xacmlPdp/techDecision/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws/xacmlPdp/techDecision/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws/xacmlPdp/techDecision/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws/xacmlPdp/techDecision/xsd">
            <xs:element name="getSimpleDecision">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="login" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" name="ressource" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" name="acte" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSimpleDecisionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSimpleDecisionRequest">
        <wsdl:part name="parameters" element="ns0:getSimpleDecision"/>
    </wsdl:message>
    <wsdl:message name="getSimpleDecisionResponse">
        <wsdl:part name="parameters" element="ns0:getSimpleDecisionResponse"/>
    </wsdl:message>
    <wsdl:portType name="SimplePdpServicePortType">
        <wsdl:operation name="getSimpleDecision">
            <wsdl:input message="axis2:getSimpleDecisionRequest" wsaw:Action="urn:getSimpleDecision"/>
            <wsdl:output message="axis2:getSimpleDecisionResponse" wsaw:Action="urn:getSimpleDecisionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimplePdpServiceSOAP11Binding" type="axis2:SimplePdpServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSimpleDecision">
            <soap:operation soapAction="urn:getSimpleDecision" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimplePdpServiceSOAP12Binding" type="axis2:SimplePdpServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSimpleDecision">
            <soap12:operation soapAction="urn:getSimpleDecision" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimplePdpServiceHttpBinding" type="axis2:SimplePdpServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getSimpleDecision">
            <http:operation location="SimplePdpService/getSimpleDecision"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getSimpleDecision"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getSimpleDecision"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimplePdpService">
        <wsdl:port name="SimplePdpServiceSOAP11port_http" binding="axis2:SimplePdpServiceSOAP11Binding">
            <soap:address location="http://localhost:8082/axis2/services/SimplePdpService"/>
        </wsdl:port>
        <wsdl:port name="SimplePdpServiceSOAP12port_http" binding="axis2:SimplePdpServiceSOAP12Binding">
            <soap12:address location="http://localhost:8082/axis2/services/SimplePdpService"/>
        </wsdl:port>
        <wsdl:port name="SimplePdpServiceHttpport" binding="axis2:SimplePdpServiceHttpBinding">
            <http:address location="http://localhost:8082/axis2/services/SimplePdpService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
