trunk/JossoAgentGL2/src/josso-agent.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='urn:org:josso:agent:core'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='urn:org:josso:agent:core'>

  <!-- element for type: org.josso.agent.SSOAgentConfigurationImpl -->
  <xs:element name='agent-configuration'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='partner-apps' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:partner-app'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.josso.agent.http.AppContextParametersBuilder -->
  <xs:element name='appctx-parameters-builder'>
    <xs:complexType>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.josso.agent.SSOPartnerAppConfig -->
  <xs:element name='partner-app'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='ignore-url-patterns' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The list of url patterns declared in the partner application deployment descriptor that should be ignored by JOSSO.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='ignore-web-resource-collections' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='security-context-propagation' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:security-context-propagation-config'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='P3PHeaderValue' type='xs:string'/>
      <xs:attribute name='context' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The web context this application is belongs to.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='defaultResource' type='xs:string'/>
      <xs:attribute name='id' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The configuration identifier
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='postAuthenticationResource' type='xs:string'/>
      <xs:attribute name='rememberMeEnabled' type='xs:boolean'/>
      <xs:attribute name='security-context-propagation' type='xs:string'/>
      <xs:attribute name='sendP3PHeader' type='xs:boolean'/>
      <xs:attribute name='splashResource' type='xs:string'/>
      <xs:attribute name='vhost' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The host or virtual host associated to this partner application
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.josso.agent.SecurityContextPropagationConfig -->
  <xs:element name='security-context-propagation-config'>
    <xs:complexType>
      <xs:attribute name='binding' type='xs:string'/>
      <xs:attribute name='propertiesPlaceHolder' type='xs:string'/>
      <xs:attribute name='rolesPlaceHolder' type='xs:string'/>
      <xs:attribute name='userPlaceHolder' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.josso.agent.http.VHostParametersBuilder -->
  <xs:element name='vhost-parameters-builder'>
    <xs:complexType>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
