JossoAgentGL2/src/josso-gl2-agent2.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='java://org.josso.gl2.agent'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='java://org.josso.gl2.agent'>

  <!-- element for type: org.josso.gl2.agent.CatalinaSSOAgent -->
  <xs:element name='FacesSSOAgent'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This agent will authenticate users against JAAS Infrastructure directly. It will look up for the "josso" login context.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='gatewayServiceLocator' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='parametersBuilders' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
         <xs:element name='container' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
       <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='name' type='xs:string'/>
      <xs:attribute name='container' type='xs:string'/>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='debug' type='xs:integer'/>
      <xs:attribute name='gatewayLoginErrorUrl' type='xs:string'/>
      <xs:attribute name='gatewayLoginUrl' type='xs:string'/>
      <xs:attribute name='gatewayLogoutUrl' type='xs:string'/>
      <xs:attribute name='gatewayServiceLocator' type='xs:string'/>
      <xs:attribute name='sessionAccessMinInterval' type='xs:long'/>
      <xs:attribute name='singlePointOfAccess' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
